body{
    background: linear-gradient(to right,white,grey,black);
}
.main{
    border: 3px solid black;
    width: 600px;
    text-align: center;
    background: aquamarine;
    margin: auto;
    margin-top: 12%;
}


li{
    text-align: justify;
    padding-left: 145px;
    padding-bottom: 5px;
    color:rebeccapurple;
}


#n1{
    width: 250px;
    height: 25px;
    text-align: center;
    border: 2px solid black;
    margin-top: 20px;
}


#btn{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}


input[type="submit"]{
    height: 25px;
    width: 75px;
    background: green;
    color: black;
    font-size:medium;
    font-weight: bold;
    border: 0;
    box-shadow: 5px 5px 5px black;
}


h1{
    color: olivedrab;
}


h3{
    color:orangered
}


#res{
    width: 500px;
    height: 25px;
    color: black;
    background: red;
    margin-left: 60px;
}